/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --first-color: #FFC75F;
    --border-color: #bf4904;
    --three-color: #f37335;
    --text-color-light: hsl(207, 4%, 56%);

    /* =========  Autre ======== */

}

/* Exemple declaration

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

*/
* {
  margin: 0;
  padding: 0;
}

/*  Body  */
@media all and (max-width: 600px) {
  .body {
    display: none;
    }
  }
  .body{
    display: grid;
  }

  .bloc-container {
    display: grid;
    
    grid-template-columns: 1fr 4fr;
    text-align: center;
    height: 400px;
    border: 1px solid black;
    grid-gap: 10px;

  }
  .bloc-profils {
    padding: 0.5em;
    background-color: peru;
    border: 2px solid red;
  }
  .profil{
    border: 1px solid black;
  }

.hexagon {
    margin-top: 70px;
    width: 340px;
    height: auto;
    background-color: #FFC75F;
    border-color: #bf4904;
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.hexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: #FFC75F;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    position: absolute;
    top: -30px;
}
.hexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: #FFC75F;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.comment {
  text-align: center;
}

#icone {
  margin-top: 50px;
  margin-left: 20px;
}
}