/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: #FDC830;
  --border-color: #bf4904;
  --three-color: #f37335;
  --text-color-light: hsl(207, 4%, 56%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat Classic', sans-serif;
}

/*  Body  */

  
/* Hexagone*/
  
  
/*#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 1000%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  padding: 1rem
}*/

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: 0 auto; */
  overflow: hidden;
  font-family: 'Montserrat Classic', sans-serif;
  font-size: 15px;
  list-style-type: none;
  padding: 1rem;
}

.hex {
  position: relative;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hexLink summary {
  display: block;
  height: 100%;
}

.modal-trigger {
  cursor: pointer;
  display: inline-block;
}

.modal[open] > .modal-trigger::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: default;
  content: '';
  z-index: 99;
  background: rgba(27,31,35,0.5);
}

.modal-content {
  position: fixed;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  z-index: 999;
  font-size: 2em;
  animation-name: fadein;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  border: 2px solid #d1d5da;
  border-radius: 10%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  background-color: white;
  padding: 1rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-trigger::-webkit-details-marker {
  display:none;
}


/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  box-sizing:border-box;
  background-color: #FDC830;
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

/* =======  Button ===== */

.compteur {
  background: none;
  border: none;
}

h2 {
  display: flex;
  justify-content: center;
}

.utilisateurs {
      display: flex;
      flex-direction: column;
}
                                   
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
/*NAVBAR HAUT*/                                  
.nav-top {
    background: #FDC830;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-top .logo a {
    display: block;
    text-decoration: none;
}

.nav-droit>ul {
    display: flex;
    align-items: center;
}

.btn img {
    width: 2.5rem;
    vertical-align: middle;
    border-radius: 90%;
    cursor: pointer;
}

.btn {
    border: none;
    background: none;
}

.sub-menu {
    position: absolute;
    right: 1rem;
    top: 70px;
    display: flex;
    background: #ffff;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.sub-menu .sub-left {
    background: #e8e8e7;
    padding: 1rem 1rem;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.sub-left li {
    color: #131212;
}

.sub-right {
    padding: 1rem 1rem;
    background: #FDC830;
}

.sub-menu li {
    margin-bottom: 1rem;
}

.sub-menu:before {
    content: "";
    position: absolute;
    top: -0.8em;
    right: 1em;
    border: 10px solid;
    border-color: transparent transparent #FDC830 transparent;
}

.active {
    display: none;
}



/*  START BOTTOM NAVBAR ADLAN   */

.wrapper {
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav {
    border: 1px solid #f37335;
    box-shadow: 00 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    overflow-x: auto;
    display: flex;
    padding: 1rem;
    order: 1;
    position: sticky;
    bottom: 0;
    z-index: 20;
}

.nav-desk {
  border: 1px solid #f37335;
  box-shadow: 00 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow-x: auto;
  display: flex;
  padding: 1rem;
  order: 1;
  position: sticky;
  bottom: 0;
  z-index: 20;
  display: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.nav-link:hover {
    color: #f37335;
}

.link-active {
    color: #f37335;
}

.nav-icon {
    font-size: 16px;
}
/*  END BOTTOM NAVBAR ADLAN   */

@media all and (min-width: 600px) {
    .sub-menu {
        right: 1rem;
        top: 80px;
    }
    .btn img {
        width: 4rem;
    }
    .nav {
        /*order: initial;*/
        display: none;
        
    }
    .nav-desk{
      display:flex;
    }
    .utilisateurs {
      flex-direction: row;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, auto);
      gap: 2em;
    }
}