/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --first-color: #FFC75F;
    --border-color: #bf4904;
    --three-color: #f37335;
    --text-color-light: hsl(207, 4%, 56%);

    /* =========  Autre ======== */

}

/* Exemple declaration

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

*/
* {
  margin: 0;
  padding: 0;
}

/*  Body  */

  


  /* ne pas toucher */

.hexagon {
    margin-top: 70px;
    width: 340px;
    height: auto;
    background: linear-gradient(#f37335, #FFC75F, #ffee00);
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: #f37335;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    position: absolute;
    top: -30px;
}

.hexagon-inner i {
  margin: 1rem;
  padding: 1rem;
}

.hexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: #ffee00;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

p {
  text-align: center;
}

.hexagon-sec {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.utilisateurs {
      display: flex;
      flex-direction: column;
}

@media all and (min-width: 600px) {
 
    
    .utilisateurs {
      flex-direction: row;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, auto);
      gap: 2em;
    }
  }